@model BurpsRSuite.Models.ManageViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}

<h2>@ViewData["Title"]</h2>

<hr />

<div class="container-fluid">
    <div class="login-clean row justify-content-md-center">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" type="password" name="NewPassword" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" type="password" name="ConfirmNewPassword" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
        </form>
        <div class="col-sm text-center">
            <embed src="~/images/BurpsRSuite.svg" class="img-fluid" alt="BurpsRSuite Logo">
        </div>
    </div>
</div>