@model BurpsRSuite.Models.AccountViewModels.ChallengeQuestionsViewModel

@{
    ViewBag.Title = "Set up Challenge Questions";
}

<h2>@ViewData["Title"]</h2>

<hr />

<div class="container-fluid">
    <div class="login-clean row justify-content-md-center">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChallengeQuestion1">@Model.ChallengeQuestion1</label>
                <input asp-for="Answer1" class="form-control" type="text" name="Answer1" />
                <span asp-validation-for="Answer1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChallengeQuestion2">@Model.ChallengeQuestion2</label>
                <input asp-for="Answer2" class="form-control" type="text" name="Answer2" />
                <span asp-validation-for="Answer2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
        </form>
        <div class="col-sm text-center">
            <embed src="~/images/BurpsRSuite.svg" class="img-fluid" alt="BurpsRSuite Logo">
        </div>
    </div>
</div>