@model BurpsRSuite.Models.ManageViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="flex-wrap row">
    <nav id="sidebar" class="col-2">
        <div class="sidebar-header">
            <h4>Management</h4>
            <hr />
        </div>
        <ul class="list-unstyled">
            <li class="nav-item">
                <a class="text-dark" asp-area="" asp-controller="manage" asp-action="ChangePassword">Change Password</a>
            </li>
            <li>
                test2
            </li>
        </ul>
    </nav>
    <div class="container-fluid col-9">
        <h2>Change Your Password</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" name="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" type="password" name="NewPassword" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" type="password" name="ConfirmNewPassword" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>