@model BurpsRSuite.Models.ManageViewModels.IndexViewModel
@{
    ViewData["Title"] = "Profile";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="flex-wrap row">
    <nav id="sidebar" class="col-2" >
        <div class="sidebar-header">
            <h4>Management</h4>
            <hr />
        </div>
        <ul class="list-unstyled">
            <li class="nav-item">
                <a class="text-dark" asp-area="" asp-controller="manage" asp-action="ChangePassword">Change Password</a>
            </li>
            <li>
                test2
            </li>
        </ul>
    </nav>
    <div class="container-fluid col-9">
        <h2>Welcome @Html.DisplayFor(x => x.UserName)</h2>
        <p>Some important Content</p>
    </div>
</div>